$text-color-black: #252B42
$text-color-orange: #FA4A0C
$text-color-white:  #ffffff

    
.top_title
    font-family: Montserrat
    font-weight: 700
    font-size: 24px
    leading-trim: NONE
    line-height: 36px
    letter-spacing: 0.1px
    color: $text-color-orange

    &_white
        color: $text-color-white

.btn
    font-family: Montserrat
    font-weight: 700
    font-size: 24px
    leading-trim: NONE
    line-height: 36px
    letter-spacing: 0.1px
    color: #FFFFFF

    width: 236px
    height: 68px
    background: #FA4A0C
    border-radius: 60px

    &_no-bg
        background: none
        
