$text-color-black: #252B42
$text-color-orange: #FA4A0C

header
    display: flex
    justify-content: space-between
    align-items: center
    width: 1440px
    height: 156px
    background: white
    padding: 0 164px 0 90px

.logo
    width: 150px
    height: 65px

.nav
    display: flex
    list-style: none
    gap: 94px

    &-link
        font-family: Montserrat
        font-weight: 600
        font-size: 16px
        leading-trim: NONE
        line-height: 28px
        letter-spacing: 0.2px
        text-align: center
        color: $text-color-black

    .active-link
        color: $text-color-orange