main
    display: flex
    flex-direction: column
    align-items: center
    width: 1440px
    height: 619px
    background-image: url(./main_bg.png)
    background-size: cover
    padding-top: 80px

.main_title
    width: 799px
    font-weight: 700
    font-size: 58px
    leading-trim: NONE
    line-height: 80px
    letter-spacing: 0.2px
    text-align: center
    color: #ffffff

.main_bottom_title
    font-family: Montserrat
    font-weight: 500
    font-size: 24px
    leading-trim: NONE
    line-height: 38px
    letter-spacing: 0.2px
    text-align: center
    color: #F6F6F6

.buttons
    display: flex
    width: 539px
    height: 68px
    margin-top: 54px
    gap: 67px

.top_section
    display: flex
    width: 1440px
    height: 748px
    background: white


.section_1
    width: 1440px
    height: 748px
    background: red
    
.bottom
    display: flex
    flex-direction: column
    align-items: center
    width: 1440px
    height: 619px
    background-image: url(./background_end.png)

.bottom_main_title
    font-family: Montserrat
    font-weight: 700
    font-size: 40px
    leading-trim: NONE
    line-height: 57px
    letter-spacing: 0.2px
    text-align: center
    color: #FFFFFF

.bottom_main_bottom_title
    font-family: Montserrat
    font-weight: 500
    font-size: 24px
    leading-trim: NONE
    line-height: 38px
    letter-spacing: 0.2px
    text-align: center
    color: #FFFFFF

.bottom_buttons
    width: 142px
    height: 64px
    border-radius: 10px
    angle: 0 deg
    opacity: 1
    gap: 10px
