footer
    display: flex
    justify-content: center
    align-items: center
    width: 1440px
    height: 307px
    background: #ffffff
    box-sizing: border-box
    padding: 0 116px 0 114px
    gap: 735px
    

.copywright
    width: 310px
    height: 18px
    
