.how
    display: flex
    flex-wrap: wrap
    align-items: center
    width: 1440px
    height: 619px

    & .section-title
        width: 100%
        text-align: center

    & .col-left
        width: 49.275%
        display: flex
        justify-content: center
        align-items: center

    & .col-right
        width: 50.625%

    & .article
        width: 568px
        height: 280px

    & .article .article-top-title-orange
        font-family: Montserrat
        font-weight: 700
        font-size: 24px
        leading-trim: NONE
        line-height: 36px
        letter-spacing: 0.1px
        color: #FA4A0C

    & .article .article-title
        font-family: Montserrat
        font-weight: 700
        font-size: 40px
        leading-trim: NONE
        line-height: 57px
        letter-spacing: 0.2px
        color: #252B42

    & .article .article-text
        font-family: Montserrat
        font-weight: 500
        font-size: 24px
        leading-trim: NONE
        line-height: 38px
        letter-spacing: 0.2px
        color: #737373
